<!DOCTYPE html>
<html>
  <head>
    <title>aceBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/9f25286fb7.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.defaultProfile = "<%= image_url('default_profile.jpg') %>";
      window.logo = "<%= image_url('acebook_logo.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
